@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App {
  display: flex;
  font-family: Poppins;
}

p {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.input-container {
  display: flex;
  width: 40%;
  gap: 10px;
}

.inputTodo,
.todoButton,
.deleteButton {
  padding: 7px 10px;
  border: 1px solid gray;
}

.inputTodo {
  width: 100%;
  font-size: large;
  border-radius: 8px;
  outline: none;
}

.todoButton {
  border-radius: 8px;
  cursor: pointer;
  font-size: large;
  font-family: Poppins;
  background-color: green;
  color: white;
}

.todoButton:active {
  background-color: rgb(27, 177, 27);
  color: white;
}

.display-container {
  display: flex;
  align-items: flex-start;
  width: 40%;
}

ul {
  list-style-type: none;
  width: 100%;
}

li {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.5vw;
  font-weight: 500;
  margin: 10px 5px;
}


.inputCheckBox {
  width: 20px;
  height: 20px;
}

.todo-list-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;

}

.deleteButton {
  border-radius: 8px;
  cursor: pointer;
  font-size: medium;
  font-weight: 800;
  background-color: red;
  color: white;
  padding: 5px 10px;
}

.deleteButton:active {
  background-color: rgb(172, 43, 43);
}

.todoParaStrike {
  text-decoration: line-through
}
.todoPara {
  text-decoration: none
}